.task-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.3s ease;
  position: relative;
  margin-bottom: 1rem;
}

.task-card:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.task-card .completed-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  display: none;
}

.task-card .completed-button {
  display: none;
  position: absolute;
  top: 8%;
  right: 10px;
  height: 40%;
  width: 55px;
}

.task-card .completed-button:nth-of-type(2) {
  top: 52%;
}

.task-card:hover .completed-text {
  display: flex;
  background-color: #1ec40bd7;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.task-card:hover .completed-button {
  display: block;
}

.task-card.completed:hover {
  background-color: white;
  cursor: auto;
  transform: scale(1);
}

.finished-card {
  background-color: #cccccc;
  border: darkgray 2px solid;
}

.deleted-card {
  transition: transform 0.2s ease, background-color 0.3s ease;
  border: red 2px dashed;
  background-color: rgba(238, 160, 160, 0.842);
  position: relative;
  margin-bottom: 1rem;
}

.deleted-card:hover {
  transform: scale(1.07);
  border: rgb(245, 3, 3) 2px solid;
}

.deleted-card .return-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.deleted-card:hover .return-text {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 93, 253, 0.824);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
