.task-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.3s ease;
  position: relative;
}

.task-card:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #23ce10;
}

.task-card .completed-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  display: none;
}

.task-card .completed-button {
  display: none;
  position: absolute;
  top: 8%;
  right: 10px;
  height: 40%;
  width: 55px;
}

.task-card .completed-button:nth-of-type(2) {
  top: 52%;
}

.task-card:hover .completed-text,
.task-card:hover .completed-button {
  display: block;
}

.task-card.completed:hover {
  background-color: white;
  cursor: auto;
  transform: scale(1);
}
